
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1, {
    font-family: 'Pacifico', cursive;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

/* header */
header{
    background-color: rgba(242, 174, 46, 1);
    width: 100%;
    height: 150px;
}

#logo-outer{
    width: 400px;
    height: 150px;
    float:left;
}

#logo-image{
    width: 400px;
    max-height: 150px;
    padding: 10px;
}

/* navigation */

#menu{
    font-size: 130%;
    line-height: 150px;
}

#menu li{
    float: right;
    margin-right: 20px;
    list-style-type: none;
}
 
#menu a{
    color:white;
    text-decoration: none;
}

#menu a:hover{
    border-bottom: dotted white 5px;
}


/* page content */

/* hero image */

#hero-outer{
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

#hero-image{
    background: url(/assets/images/baseball-hero-pitching.jpg) no-repeat center center;
    width: 100%;
    height:800px;
    background-size: 100%;
}

#hero-cover-text{
    width: 700px;
    height: 200px;

    padding-top: 40px;
    padding-right: 40px;

    background-color: rgba(242, 120, 48, .7);

    bottom: 50px;
    right: 50px;

    position: absolute;
    font-size: 200%;
    text-align: right;
    color: white;
}
#hero-cover-text h1{
    font-family: 'Pacifico', cursive;
    font-size: 180%;
}


/* About the club*/

.section-title{
    line-height: 200px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    background-color:rgba(4, 138, 191, 1);
    color: white;
}
.section-about-the-club{
    width: 100%;
    height: 500px;
    color: rgba(4, 138, 191, 1);
    background-color: white;
}

.about-outer-left{
    width: 50%;
    height: 500px;
    display: inline-block;
    background-color:white;
    color: rgba(4, 138, 191, 1);
    float: left;

}
.about-outer-right{
    width: 50%;
    height: 500px;
    display: inline-block;
    background-color:white;
    color: rgba(4, 138, 191, 1);
    float: right;
}

#team-info{
    padding:50px;
}

#team-info-image{
    background: url(/assets/images/baseball-players.jpg) no-repeat center center;
    height:500px;
    background-size: cover;
}

#kit-image{
    background: url(/assets/images/baseball-ball-glove.jpg) no-repeat center center;
    height:500px;
    background-size: cover;
}

#kit-fee-info{
    padding:50px;
}



#section-map{}
#section-baseball-rules{}
#section-join-the-team{}
#section-connect{}

