
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1, {
    font-family: 'Pacifico', cursive;
}

h2, {
font-family: 'Pacifico', cursive;
}

h3{
    font-family: 'Pacifico', cursive;
    font-weight: 800;
}

/* header */
header{
    background-color: rgba(242, 174, 46, 1);
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
}

#logo-outer{
    width: 400px;
    height: 60px;
    float:left;
}

#logo-image{
    max-width: 400px;
    max-height: 50px;
    padding: 5px;
}

/* navigation */

#menu{
    font-size: 15px;
    line-height: 50px;
}

#menu li{
    float: right;
    margin-right: 20px;
    list-style-type: none;
}
 
#menu a{
    color:white;
    text-decoration: none;
}

#menu a:hover{
    border-bottom: dotted white 5px;
}


/* page content */

/* hero image */

#hero-outer{
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#hero-image{
    background: url(/assets/images/baseball-hero-pitching.jpg) no-repeat center center;
    width: 100%;
    height:800px;
    background-size: 100%;
}

#hero-cover-text{
    width: 700px;
    height: 200px;

    padding-top: 40px;
    padding-right: 40px;

    background-color: rgba(242, 120, 48, .7);

    bottom: 50px;
    right: 50px;

    position:absolute;
    font-size: 200%;
    text-align: right;
    color: white;
}
#hero-cover-text h1{
    font-family: 'Pacifico', cursive;
    font-size: 180%;
}


/* About the club*/

.section-title{
    text-align: center;
    font-size: 60px;
    color: white;
    background-color: rgba(4, 138, 191, 1);
    height: 100px;
    font-family: 'Pacifico', cursive;
    position: relative;

}
.about-the-club{
    width: 100%;
    height: 500px;
    background-color: white;
}


.about-outer-left{
    width: 50%;
    height: 500px;
    display: inline-block;
    background-color:white;
    color: rgba(4, 138, 191, 1);
    float: left;
    overflow: hidden;

}
.about-outer-right{
    width: 50%;
    height: 500px;
    display: inline-block;
    background-color:white;
    color: rgba(4, 138, 191, 1);
    float: right;
    overflow: hidden;
}

#team-info{
    padding:50px;
}

#team-info-image{
    background: url(/assets/images/baseball-players.jpg) no-repeat center center;
    height:500px;
    background-size: cover;
}

#kit-image{
    background: url(/assets/images/baseball-ball-glove.jpg) no-repeat center center;
    height:500px;
    background-size: cover;
}

#kit-fee-info{
    padding:50px;
}

/* Map */

#section-map{
    width: 100%;
    height: 725px;

}


#map {
    width: 100%;
    height: 500px;
}
iframe {
    width: 100%;
}

.section-sub-heading{
    text-align: center;
    background-color: inherit;
    color: inherit;
    font-size: 120%;
    line-height: 200%;
    height: 50px;
    padding-top: 10px;
}


/* Video */
#video-outer {
    width: 100%;
    height: 500px;
    text-align: center;
}
#video{
    width: 75%;
    height: 450px;
    text-align: center;
    top:10px;
    position: relative;
}

/* join team form */
#section-join-the-team .section-title{
    background-color: rgba(242, 120, 48, .8)

}

#form-section-outer{
    width: 100%;
    height: 700px;
    background: url(/assets/images/baseball-field.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

.form-outer{
    background-color:rgba(0,0,0,.8);
    width: 85%;
    height: 500px;
    top:100px;
    left: 100px;
    position: relative;
}

#join-form{
    color: white;
}


/* footer */
#section-connect{}
footer{
    max-height: 150px;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 30px;
    margin: 1%;
    padding: 5%;
    color: rgba(242, 174, 46, 1);
}

.reserves{
    color: rgba(242, 174, 46, 1);
    text-align: center;
    padding-bottom: 20px;
}